#customers {
    			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
    			width: 100%;
			}

			#customers td, #customers th {
    			border: 1px solid #ddd;
			    text-align: left;
			    padding: 8px;
			}

			#customers tr:nth-child(even){background-color: #f2f2f2}

			#customers tr:hover {background-color: #ddd;}

			#customers th {
    			padding-top: 12px;
    			padding-bottom: 12px;
    			background-color: #4CAF50;
    			color: white;
			}