<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<style>
			#customers {
    			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
    			width: 30%;
			}

			#customers td, #customers th {
    			border: 1px solid #ddd;
			    text-align: left;
			    padding: 8px;
			}

			#customers tr:nth-child(even){background-color: #f2f2f2}

			#customers tr:hover {background-color: #ddd;}

			#customers th {
    			padding-top: 12px;
    			padding-bottom: 12px;
    			background-color: #4CAF50;
    			color: white;
			}

            #button {
                font: bold 11px Arial;
                text-decoration: none;
                background-color: #EEEEEE;
                color: #333333;
                padding: 4px 10px 4px 10px;
                border-top: 1px solid #CCCCCC;
                border-right: 1px solid #333333;
                border-bottom: 1px solid #333333;
                border-left: 1px solid #CCCCCC;
            }
		</style>
	</head>
	<body>
		{% if errorCondition %}
            <h5> {{errorCondition}} </h5>
        {% endif %}
		<form action="/availability?resourceID={{resourceID}}" method="post">
			<table id = "customers">
				<caption style="text-align:left;">ADD RESERVATION DETAILS</caption>
				<tr>
					<th>
						Reservation Date (YYYY:MM:DD): 
					</th>	
					<td>
						<input type="text" name="date">
					</td>
				</tr>
				<tr>
					<th>
						Start Time (HH:MM): 
					</th>
					<td>
						<input type="text" name="from">
					</td>
				</tr>
				<tr>
					<th>
						Duration (HH:MM): 
					</th>
					<td>
						<input type="text" name="duration">
					</td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Book!">
		</form>
	</body>
</html>
{% endautoescape %}