<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <style>
            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 28%;
            }

            #customers td, #customers th {
                border: 1px solid #ddd;
                text-align: left;
                padding: 8px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #4CAF50;
                color: white;
            }

            #button {
                font: bold 11px Arial;
                text-decoration: none;
                background-color: #EEEEEE;
                color: #333333;
                padding: 4px 10px 4px 10px;
                border-top: 1px solid #CCCCCC;
                border-right: 1px solid #333333;
                border-bottom: 1px solid #333333;
                border-left: 1px solid #CCCCCC;
            }
        </style>
    </head>
    <body>
        {% if errorCondition %}
            <h5> {{errorCondition}} </h5>
        {% endif %}

        <form action="/create" method="post">
            <table id="customers">
                <caption style="text-align:left;">ENTER RESOURCE DETAILS</caption>
                <tr>
                    <th>
                        Resource name:
                    </th>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <th>
                        Owner:
                    </th>
                    <td>
                        <input type="text" color="red" value= {{user}} name="owner" readonly>
                    </td>
                </tr>
                <tr>
                    <th>
                        From (HH:MM):
                    </th>
                    <td>
                        <input type="text" name="from">
                    </td>
                </tr>
                <tr>
                    <th>
                        To (HH:MM):
                    </th>
                    <td>
                        <input type="text" name="to">
                    </td>
                </tr>
                <tr>
                    <th>
                        Tags:
                    </th>
                    <td>
                        <input type="text" name="tags">
                    </td>
                </tr>
            </table>
            <br>
            <div><input type="submit" value="CREATE!"></div>
        </form>  
  </body>
</html>
{% endautoescape %}