<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<style>
			#customers {
    			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
    			width: 100%;
			}

			#customers td, #customers th {
    			border: 1px solid #ddd;
			    text-align: left;
			    padding: 8px;
			}

			#customers tr:nth-child(even){background-color: #f2f2f2}

			#customers tr:hover {background-color: #ddd;}

			#customers th {
    			padding-top: 12px;
    			padding-bottom: 12px;
    			background-color: #4CAF50;
    			color: white;
			}

            #button {
                font: bold 11px Arial;
                text-decoration: none;
                background-color: #EEEEEE;
                color: #333333;
                padding: 4px 10px 4px 10px;
                border-top: 1px solid #CCCCCC;
                border-right: 1px solid #333333;
                border-bottom: 1px solid #333333;
                border-left: 1px solid #CCCCCC;
            }
		</style>
	</head>
	<body>
        {% if source=="1" %}
        <form action="/search" method="post">
            <a id="button" href="{{ url|safe }}">{{ url_linktext }}</a>
            <a id="button" href="/create">Create a Resource!</a>
            <input type="text" name="ResourceName" placeholder="Search for a Resource..." style="float:right;color: gray" />
            <input type="submit" value="GO!" style="float:right">
        </form>
        <form action="/findAvailabilities" method="post" style="margin-top:10px">
            <input type="text" name="Duration" placeholder="Enter Duration..." style="float:right;color: gray" />
            <input type="text" name="From" placeholder="Enter Start Time..." style="float:right;color: gray" />
            <input type="text" name="Date" placeholder="Enter Date(YYYY:MM:DD)..." style="float:right;color: gray" />
            <input type="submit" value="CHECK!" style="float:right">
        </form>
        {% endif %}
    	<div>
            <table id="customers">
                <caption>MY RESERVATIONS</caption>
                <tr>
                    <th>Resource Name</th>
                    <th>Reservation Date</th>
                    <th>Reserved Start</th> 
                    <th>Duration</th>
                    <th>Reserved By</th>
                    <th>Cancellation</th>
                </tr>

            {% for reservation in MyReservationList %}
                {% set list1 = reservation.StartTime.split(':') %}
                <tr>
                    <td><a href="/resource?ResID={{reservation.ResourceID}}&TableNumber=1" style="display:block">{{reservation.ResourceName}}</a></td>
                    <td>{{list1[1]}}-{{list1[2]}}-{{list1[0]}}</td> 
                    <td>{{list1[3]}}:{{list1[4]}}</td> 
                    <td>{{reservation.Duration}}</td>
                    <td><a href="/showUser?UserID={{reservation.UserID}}">{{reservation.UserID}}</a></td>
                    <td><a href="/cancel?BookingID={{reservation.BookingID}}">CANCEL</a></td>
                </tr>
            {% endfor %}
            </table>
            {% if MyReservationLen==0 %}
                <p id="customers">There are no entries to display.</p>
            {% endif %}
        </div>
        <br>
        <br>
        {% if source=="1" %}
    	<div>
    	<table id="customers">
    			<caption>ALL REGISTERED RESOURCES</caption>
    			<tr>
    				<th>Resource Name</th>
    				<th>Available From</th> 
    				<th>Available Till</th>
                    <th>Resource Owner</th>
                    <th>Reservation Count</th>
                    <th>Reference Tags</th>
                    <th>RSS</th>
    			</tr>
    		
    		{% for resource in SystemResourceList %}
    			<tr>
    				<td><a href="/resource?ResID={{resource.ResourceID}}&TableNumber=2" style="display:block">{{resource.ResourceName}}</a></td>
    				<td>{{resource.StartTime}}</td> 
    				<td>{{resource.EndTime}}</td>
                    <td>{{resource.OwnerName}}</td>
                    <td>{{resource.Counter}}</td>
                    <td>
                        {% for tag in resource.Tags %}
                            <a href="/tag?TagName={{tag}}">{{tag}}</a>
                        {% endfor %}           
                    </td>
                    <th><a href="\dump?ResID={{resource.ResourceID}}">RSS</a></th>
    			</tr>
  			{% endfor %}
  			</table>
            {% if SystemResourceLen==0 %}
                <p id="customers">There are no entries to display.</p>
            {% endif %}
    	</div>
    	<br>
    	<br>
    	{% endif %}
        <div>
    		<table id="customers">
    			<caption>MY RESOURCES</caption>
    			<tr>
    				<th>Resource Name</th>
    				<th>Available From</th> 
    				<th>Available Till</th>
                    <th>Reservation Count</th>
                    <th>Reference Tags</th>
                    <th>RSS</th>
    			</tr>
    		
    		{% for resource in MyResourceList %}
    			<tr>
    				<td><a href="/resource?ResID={{resource.ResourceID}}&TableNumber=3" style="display:block">{{resource.ResourceName}}</a></td>
    				<td>{{resource.StartTime}}</td> 
    				<td>{{resource.EndTime}}</td>
                    <td>{{resource.Counter}}</td>
                    <td>
                            {% for tag in resource.Tags %}
                                <a href="/tag?TagName={{tag}}">{{tag}}</a>
                            {% endfor %}           
                    </td>
                    <th><a href="\dump?ResID={{resource.ResourceID}}">RSS</a></th>
    			</tr>
  			{% endfor %}
  			</table>
            {% if MyResourceLen==0 %}
                <p id="customers">There are no entries to display.</p>
            {% endif %}
    	</div>
    {% if source=="2" %}
        <br>
        <a id="button" href="/">Go Back to the Main Page!</a>
    {% endif %}
  </body>
</html>
{% endautoescape %}