<!DOCTYPE html>
{% autoescape true %}
<html>
	<style type="text/css">
	
	#button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 4px 10px 4px 10px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        }
	
	</style>
    <body>
        <h3>RESOURCE ADDED SUCCESSFULLY!</h3>
        <p>The Resource has been added successfully!</p>
        <div>
            <a id="button" href="/create">Add Another Resource</a>
            <a id="button" href="/">Go to Main Page</a>
        </div>
  </body>
</html>
{% endautoescape %}