<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<style type="text/css">
	
			#button {
        		font: bold 11px Arial;
        		text-decoration: none;
        		background-color: #EEEEEE;
        		color: #333333;
        		padding: 4px 10px 4px 10px;
        		border-top: 1px solid #CCCCCC;
        		border-right: 1px solid #333333;
        		border-bottom: 1px solid #333333;
        		border-left: 1px solid #CCCCCC;
        	}
	
	</style>
    
	</head>
    <body>
        <h3>ERROR!</h3>
        <p>{{errorCondition}}</p>
        <div>
            <a id="button" href="/">Go to Main Page</a>
        </div>
  </body>
</html>
{% endautoescape %}