<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<style type="text/css">
			#customers {
    			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			background-color: #4CAF50;
    			color: white;
    			text-align: center;
    			padding-top: 8px;
    			padding-bottom: 8px;
    			border-collapse: collapse;
    			width: 100%;
			}

			div {
  				width: 200px;
  				margin: 30px;
				}

			h2,p {
  				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  				margin: 0;
  				padding: 0;
				}

			ul {
  				list-style-type: none;
  				margin: 0;
  				padding: 0;
				}

			li {
  				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  				border-bottom: 1px solid #ccc;
				}

			li:hover {
				background-color: #ddd;
			}

			li:last-child {
  				border: none;
				}

			li a {
  					text-decoration: none;
  					color: #000;

  					-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  					-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  					-o-transition: font-size 0.3s ease, background-color 0.3s ease;
  					-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  					transition: font-size 0.3s ease, background-color 0.3s ease;
  					
  					display: block;
  					width: 200px;
				}

			li a:hover {
  					font-size: 30px;
  					/*background: #f6f6f6;*/
			}

      #button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 4px 10px 4px 10px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        }

		</style>
	</head>
    <body>
        <p id="customers">Exact Matches: {{ResourcesListLen}}</p>
        {% if ResourceListLen == 0 %}
        	<p>No Matches Found!</p>
        {% else %}
        	<ul>
        		{% for Resource in ResourceList %}
        		<li><a href="/resource?ResID={{Resource.ResourceID}}&TableNumber=4" style="display:block">{{Resource.ResourceName}}</a></li>
        		{% endfor %}
        	</ul>
        {% endif %}
        <br>
        <br>

        <p id="customers">Partial Matches: {{ResourcesListLen}}</p>

        {% if PartialResourceLen == 0 %}
        	<p>No Matches Found!</p>
        {% else %}
        	<ul>
        		{% for Resource in PartialResourceList %}
        		<li><a href="/resource?ResID={{Resource.ResourceID}}&TableNumber=4" style="display:block">{{Resource.ResourceName}}</a></li>
        		{% endfor %}
        	</ul>
        {% endif %}
        <br>
        <a id="button" href="/">Go to Main Page</a>
  </body>
</html>
{% endautoescape %}