<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<style>
			#customers {
    			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
    			width: 100%;
			}

			#customers td, #customers th {
    			border: 1px solid #ddd;
			    text-align: left;
			    padding: 8px;
			}

			#customers tr:nth-child(even){background-color: #f2f2f2}

			#customers tr:hover {background-color: #ddd;}

			#customers th {
    			padding-top: 12px;
    			padding-bottom: 12px;
    			background-color: #4CAF50;
    			color: white;
			}
		</style>
	</head>
	<body>
		<table id="customers">
    		<caption>RESOURCE DETAILS</caption>
    		<tr>
    			<th>Attribute</th>
    			<th>Value</th> 
    		</tr>
    		<tr>
    			<td>Name:</td>
    			<td>{{resource.ResourceName}}</td> 
    		</tr>
    		<tr>
    			<td>Owner:</td>
    			<td>{{resource.OwnerName}}</td> 
    		</tr>
    		<tr>
    			<td>Available From:</td>
    			<td>{{resource.StartTime}}</td> 
    		</tr>
    		<tr>
    			<td>Available To:</td>
    			<td>{{resource.EndTime}}</td> 
    		</tr>
        <tr>
          <td>Tags:</td>
          <td>
            {% for tag in resource.Tags %}
              <a href="/tag?TagName={{tag}}">{{tag}}</a>
            {% endfor %}           
          </td>
        </tr>
        <tr>
          <td>Resrvation Count:</td>
          <td>{{resource.Counter}}</td> 
        </tr>
  		</table>
      <br>
        <br>
      <div>
        <table id="customers">
          <caption>CURRENT AND UPCOMING RESERVATIONS</caption>
          <tr>
            <th>Booked By:</th>
            <th>Booking Date:</th>
            <th>Booking Start Time</th> 
            <th>Booking End Time</th>
          </tr>
        
        {% for reservation in resourceReservationList %}
          {% set list1 = reservation.StartTime.split(':') %}
          {% set list2 = reservation.EndTime.split(':') %}
          <tr>
            <td>{{reservation.UserID}}</td>
            <td>{{list1[1]}}-{{list1[2]}}-{{list1[0]}}</td>
            <td>{{list1[3]}}:{{list1[4]}}</td> 
            <td>{{list2[3]}}:{{list2[4]}}</td>
          </tr>
        {% endfor %}
        </table>

        {% if resourceReservationLen==0 %}
          <p id="customers">There are no entries to display.</p>
        {% endif %}

      </div>
      {% if editable=="Yes" %}
  		  <form action="/editResource" method="get">
  		    <div>
            <input type="hidden" name="resID" value="{{resource.ResourceID}}">
  				  <input type="submit" value="EDIT!">
  			 </div>
        </form>
      {% endif %}
      <br>
      <form action="/book?res={{resource.ResourceID}}" method="post">
  			<div>
  				<input type="submit" value="Add a New Reservation!">
  			</div>
      </form>
  	</body>
</html>
{% endautoescape %}