<!DOCTYPE html>
{% autoescape true %}
<html>
	<body>
		&lt;?xml version="1.0" encoding="UTF-8" ?&gt;<br>
		&lt;rss version="2.0"&gt;<br>
		&lt;Resource&gt;<br>
		<span style="margin-left:40px">&lt;ResourceName&gt;{{ResourceName}}&lt;/ResourceName&gt;<br>
		<span style="margin-left:40px">&lt;Reservations&gt;<br>
		
		{% for booking in BookingList %}
			<span style="margin-left:80px">&lt;Reservation&gt;<br>
				<span style="margin-left:120px">&lt;Name&gt;
					{{booking.UserID}}
				<span>&lt;/Name&gt;<br>
				<span style="margin-left:120px">&lt;From&gt;
					{{booking.StartTime}}
				<span>&lt;/From&gt;<br>
				<span style="margin-left:120px">&lt;To&gt;
					{{booking.EndTime}}
				<span>&lt;/To&gt;<br>
			<span style="margin-left:80px">&lt;/Reservation&gt;<br>
		{% endfor %}

		<span style="margin-left:40px">&lt;/Reservations&gt;<br>
		&lt;/Resource&gt;<br>
		&lt;/rss&gt;
	</body>
</html>
{% endautoescape %}