<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<style>
			#customers {
    			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
    			width: 100%;
			}

			#customers td, #customers th {
    			border: 1px solid #ddd;
			    text-align: left;
			    padding: 8px;
			}

			#customers tr:nth-child(even){background-color: #f2f2f2}

			#customers tr:hover {background-color: #ddd;}

			#customers th {
    			padding-top: 12px;
    			padding-bottom: 12px;
    			background-color: #4CAF50;
    			color: white;
			}
		</style>
	</head>
	<body>
    	<div>
            <table id="customers">
    			<caption>{{tag}}:</caption>
    			<tr>
    				<th>Resource Name</th>
    				<th>Available From</th> 
    				<th>Available Till</th>
                    <th>Reference Tags</th>
    			</tr>
    		
    		{% for resource in taggedResourceList %}
    			<tr>
    				<td><a href="/resource?ResID={{resource.ResourceID}}" style="display:block">{{resource.ResourceName}}</a></td>
    				<td>{{resource.StartTime}}</td> 
    				<td>{{resource.EndTime}}</td>
                    <td>
                            {% for tag in resource.Tags %}
                                <a href="/tag?TagName={{tag}}">{{tag}}</a>
                            {% endfor %}           
                    </td>
    			</tr>
  			{% endfor %}
  			</table>
        </div>
    </body>
</html>
{% endautoescape %}